<%- include("partials/header"); -%>

<h1>Home</h1>

<%= startingContent %>

<% for (i = 0; i < blogPost.length; i++) { %>
  <p><% console.log(blogPost[i].title); %></p>
<% } %>

<%- include("partials/footer"); -%>
